* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background: rgb(187, 100, 242);
}
.wrapper {
  max-width: 445px;
  margin: 135px auto;
  background: #fff;
  border-radius: 7px;
  padding: 28px 0px;
}
.task-input {
  height: 52px;
  padding: 0px 25px;
  position: relative;
}
.task-input img {
  position: absolute;
  top: 50%;
  transform: translate(17px, -50%);
}
.task-input input {
  height: 100%;
  width: 100%;
  padding: 0px 20px 0px 53px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #999;
  outline: none;
}
.task-input input::placeholder {
  color: #bfbfbf;
}
.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}
.filters span {
  margin: 0 8px;
  font-size: 22px;
  cursor: pointer;
}
.filters span:first-child {
  margin-left: 0px;
}
.filters span .active {
  color: blue;
}
.controls .clear-btn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 7px 13px;
  background: rgb(187, 100, 242);
  font-size: 13px;
}
.task-box {
  margin: 20px 25px;
}
.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.task-box .task:last-child {
  margin-bottom: 0px;
  border-bottom: 0;
  padding-bottom: 0%;
}

.task label {
  display: flex;
}
.task label p.checked {
    text-decoration: line-through;
}
.task label input {
  margin-right: 12px;
  margin-top: 6px;
}
.task .settings {
  cursor: pointer;
  position: relative;
}
.settings .task-menu {
  position: absolute;
  padding: 5px 0px;
  right: -5px;
  bottom: -65px;
  z-index: 2;
  transform: scale(0);
  border-radius: 5px;
  background: #fff;
  transform-origin: top right;
  transition: transform 0.2s ease;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}
.settings .task-menu.show{
    transform: scale(1);
}
.task-menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  justify-content: flex-start;
  padding: 17px 15px;
}
.task-menu li:hover {
  background: #f5f5f5;
}
.task-menu li i {
  padding-right: 8px;
}
.task-menu li:last-child {
  margin-bottom: 0;
}
.logo img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 200px;
  padding: 5px;
  margin: 10px;
}